html {
  color: #444;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  background: white;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#paintarea {
  background-color: white;
  width: 100%;
  height: 100%;
}

.modal-header, .modal-footer {
  border: 0px;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 50px;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 25px;
  line-height: 1.3333333;
  border-radius: 6px;
}
